:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --main-color: #630033;
  --bg-color: #c3cbbd;
  --emphasis-color: #003d3c;
  --light-emphasis-color: #d4e7df;
  --card-bg-color: #cbcbbd;
  --shadow-color: #627c7b;
  --dark-shadow-color: #00120f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 65%;

  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) var(--emphasis-color);
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--emphasis-color);
  padding-bottom: 3rem;
}

::selection {
  color: var(--bg-color);
  background: var(--emphasis-color);
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  transition: all 0.3s;
  box-shadow: 0 0.3rem 0.4rem var(--shadow-color);
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 0.6rem var(--shadow-color);
}
button:active {
  transform: translateY(0);
  box-shadow: 0 0.3rem 0.3rem var(--shadow-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 6rem;
  padding-top: 10rem;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--emphasis-color);
  color: black;
  padding: 1rem;
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 4rem 5rem;
    padding-top: 10rem;
  }
}
@media only screen and (max-width: 431px) {
  .container {
    padding: 3rem 4rem;
    padding-top: 10rem;
  }
}
@media only screen and (max-width: 392px) {
  .container {
    padding: 2rem 3rem;
    padding-top: 10rem;
  }
}
