:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --main-color: #630033;
  --bg-color: #bda5ac;
  --emphasis-color: #003d3c;
  --light-emphasis-color: #d4e7df;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 65%;

  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) var(--emphasis-color);
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--emphasis-color);
  padding-bottom: 3rem;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0.6rem 1.2rem;
  border: none;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 6rem;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--emphasis-color);
  color: black;
  padding: 1rem;
  font-size: 2rem;
}
