:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 65%;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: darkslategrey;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0.6rem 1.2rem;
  border: none;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

